* {
    margin: 0;
    padding: 0;
    font-family: bold,sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(59, 36, 99), rgb(102, 62, 170));
    height: 450px;
}

.container2 {
    display: flex;
    justify-content: center;
}

.jumbotron {
    width: 970px;
}

.header {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('../immagini/sfondo_sopra.png');
    background-repeat: no-repeat;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar span {
    margin-right: 10px;
    color: #B5ABC9;
}

.navbar span:hover {
    color: #EBE7F3;
}

.btn {
    display: flex;
    align-items: center;
}

.btn span {
    color: #EBE7F3;
    padding: 10px;
    border: 1px solid #EBE7F3;
    border-radius: 5px;
}

.btn span:hover {
    border: none;
    background-color: #4A36F9;
    transition: 0.5s 0.0s;
}

.titolo {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.titolo h3 {
    text-align: center;
    padding: 50px;
    background-image: url('../immagini/sfondo_sopra.png');
    background-repeat: no-repeat;
}

.button {
    height: 50px;
    width: 150px;
    color: #492D7A;
    background-color: white;
    outline: none;
}

.loghi {
    height: 300px;
}

.loghi_sponsor {
    width: 19%;
}

.spiegazione {
    display: flex;
    flex-direction: row;
}

.paragrafo_best {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-right: 100px solid transparent;
}

.paragrafo_best h2 {
    color: #7E36F5;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
}

.paragrafo_best p {
    color: #81788A;
    border-bottom: 20px solid transparent;
}

.card_container {
    display: flex;
    text-align: center;
    height: 330px;
    width: 300px;
    border: 1px solid black;
}

.card_content {
    height: 165px;
    width: 300px;
}

.card_content h3 {
    border: 20px solid transparent;
}

.card_sotto {
    height: 165px;
    background-color: #ECECF2;
    color: #9496A7;
}

.card_sotto .paragrafo_card_sotto {
    border-top: 30px solid transparent;
    border-bottom: 10px solid transparent;
}

.test_btn {
    width: 150px;
    height: 50px;
    background-color: #7E36F5;
    border: #7E36F5;
    color: #FAFBFE;
    outline: none;
}

.test_btn:hover {
    background-color: #00E77C;
    transition: 0.5s;
}