* {
    margin: 0;
    padding: 0;
    font-family: bold,sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #492D7A;
}

.jumbotron {
    width: 970px;
}

.header {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar span {
    margin-right: 10px;
    color: #B5ABC9;
}

.navbar span:hover {
    color: #EBE7F3;
}

.btn {
    display: flex;
    align-items: center;
}

.btn span {
    color: #EBE7F3;
    padding: 10px;
    border: 1px solid #EBE7F3;
    border-radius: 5px;
}

.btn span:hover {
    border: none;
    background-color: #4A36F9;
    transition: 0.5s 0.0s;
}

/* .logo {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
    border: 10px solid transparent;
} */