* {
    margin: 0;
    padding: 0;
    font-family: bold,sans-serif;
    font-weight: 800;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to left, #000080, #252850);
    height: 430px;
}

.container2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F5F7F9;
    width: 100%;
}

.container3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: 300px solid transparent;
}

.container4 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url('../immagini/iq-tests-and-intelligence.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: gray;
    opacity: 80%;
    width: 100%;
    height: 430px;
    text-align: center;
    color: black;
    left: 0;
    right: 0;
}

.container5 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F5F7F9;
    width: 100%;
}

.container6 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container7 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F5F7F9;
    width: 100%;
}

.container8 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container9 {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F5F7F9;
    width: 100%;
}

.container10 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.jumbotron {
    width: 970px;
}

.header {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('../immagini/sfondo_sopra.png');
    background-repeat: no-repeat;
}
.navbar {
    display: flex;
    align-items: center;
}

.navbar span {
    margin-right: 10px;
    color: #B5ABC9;
}

.navbar span:hover {
    color: #EBE7F3;
}

.btn {
    display: flex;
    align-items: center;
}

.btn span {
    color: #EBE7F3;
    padding: 10px;
    border: 1px solid #EBE7F3;
    border-radius: 5px;
}

.btn span:hover {
    border: none;
    background-color: #4A36F9;
    color: white;
    transition: 0.5s 0.0s;
}

.titolo {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px;
}

.titolo h3 {
    text-align: center;
    padding: 50px;
    background-image: url('../immagini/sfondo_sopra.png');
    background-repeat: no-repeat;
}

.button {
    height: 50px;
    width: 150px;
    color: #492D7A;
    background-color: white;
    outline: none;
}

.button:hover {
    background-color: #00E77C;
    color: white;
    border: transparent;
    transition: 0.5s 0.0s;
}

.loghi {
    padding: 30px;
}

.loghi_sponsor {
    width: 19%;
}

.fa-medal {
    color: black;
}

.spiegazione {
    display: flex;
    flex-direction: row;
    height: 450px;
}

.paragrafo_best {
    display: flex;
    flex-direction: column;
    width: 60%;
    border-right: 100px solid transparent;
}

.paragrafo_best h2 {
    color: blue;
    border-top: 30px solid transparent;
    border-bottom: 10px solid transparent;
}

.paragrafo_best p {
    color: #81788A;
    border-bottom: 20px solid transparent;
}

.card_container {
    display: flex;
    text-align: center;
    height: 330px;
    width: 300px;
    border: 1px solid gainsboro;
}

.card_content {
    height: 165px;
    width: 300px;
}

span .immagine_impronta {
    border: 5px solid transparent;
}

.immagine_impronta {
    border: 1px solid black;
    border-radius: 100px;
}

.card_content h3 {
    border: 5px solid transparent;
}

.card_sotto {
    height: 165px;
    background-color: #ECECF2;
    color: #9496A7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_sotto .paragrafo_card_sotto {
    border-top: 30px solid transparent;
    border-bottom: 10px solid transparent;
    width: 70%;
}

.test_btn {
    width: 150px;
    height: 50px;
    background-color: #7E36F5;
    border: #7E36F5;
    color: #FAFBFE;
    outline: none;
}

.test_btn:hover {
    background-color: #00E77C;
    transition: 0.5s;
}

.paragrafo_con_sfondo {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragrafo_con_sfondo h1{
    border-top: 80px solid transparent;
    border-bottom: 10px solid transparent;
}

.paragrafo_con_sfondo h3{
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.paragrafo_con_sfondo button {
    background-color: transparent;
    border: 1px solid black;
    width: 100px;
    height: 50px;
    color: black;
    outline: none;
}

.paragrafo_con_sfondo button:hover {
    background-color: #00DC71;
    border: 1px solid #00DC71;
}

.official {
    text-align: center;
    border-top: 100px solid #F5F7F9;
}

.trecard {
    display: flex;
    flex-direction: row;
    border: 50px solid transparent;
}

.cards {
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 90%;
 }

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.container_card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  width: 300px;
  height: 300px;
  background-color: white;
}

.container_card h3 {
    border-bottom: 50px solid transparent;
}

.container_card p {
    width: 80%;
}

.celebrity {
    text-align: center;
    border-top: 50px solid transparent;
}

.celebrity p {
    color: #6F7287;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

.card_top_15 {
    display: flex;
    flex: 3;
    flex-direction: row;
}

.container_card_top {
    height: 100px;
    background-color: #42286E;
    border: 10px solid white;
    width: 50%;
    display: flex;
    flex-direction: row;
}
 
.container_card_top .h3_top {
    color: white;
    width: 80%;
    display: flex;
    align-items: flex-start;
    
}

.container_card_top p {
    color: white;
} 

.improve {
    text-align: center;
    border-top: 50px solid transparent;
}

.improve p{
    color: gray;
}

.trecard2 {
    display: flex;
    flex: 3;
    border: 50px solid transparent;
}


.container_card_improve {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 300px;
    height: 300px;
  }

.container_card_improve p {
    border: 50px solid transparent;
}

.card1 {
    background-image: url('../immagini/train-your-working-memory.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}

.card1 p{
    color: white;
}

.card1_1 {
    background-image: url('../immagini/relax.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}

.card1_1 p{
    color: white;
}

.card1_2 {
    background-image: url('../immagini/challenge-yourself.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
}

.card1_2 p{
    color: white;
}

.other {
    text-align: center;
    border-top: 50px solid transparent;
}

.card_other {
    display: flex;
    flex-direction: row;
    flex: 2;
    align-items: center;
    border: 50px solid transparent;
}

.container_card_other {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 50%;
    background-color: #F5F7F9;
    height: 200px;
  }

.container_card_other h1 {
    color: #33629A; 
}

.container_card_other h4 {
    width: 80%;
}

.loghi_sponsor2 {
    width: 16%;
}

.footer {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-top: 50px solid transparent;
    color: grey;
}

.h3_footer {
    border: 20px solid transparent;
}

.h3_footer:hover {
    color: blue;
}

.social {
    display: flex;
    flex-direction: row;
    flex: 6;
    border: 20px solid transparent;
}

i:hover {
    color: blue;
}

.navbar_footer {
    border: 20px solid transparent;
}

.navbar_footer span:hover {
    color: black;
}
.quality {
    border: 20px solid transparent;
}

.copyright {
    border: 20px solid transparent;
}

.immagine_quality {
    width: 50px;
}

.fa-heart {
    color: red;
}